{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
            <div class="row">
                {% for trailer in trailers %}
                    <div class="col-4">
                        <div class="card">
                            <img src="{{ trailer.image }}" class="card-img-top">
                            <div class="card-body">
                                <a class="card-title" href="{{ trailer.id }}">{{ trailer.title }}</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

    </div>
{% endblock %}
